<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<meta name="viewport" content="width=device-width">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<meta charset="utf-8">
		</head>
		<body>
		<header>
		    <hgroup class="clearfix">
		        <h1><a href="#">liyang15 <span>pandorait.cn</span></a></h1>
		        <h2>CCIE#23951 ON THE WAY!</h2>
		    </hgroup>
		</header>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:liyang15@aliyun.com">Email</a></li>
	        		<li><a href="https://github.com/liyang15" target="_blank">github.com/liyang15</a></li>
					<li><a href="http://bbs.csc-china.com.cn/?fromuid=97620" target="_blank">思科社区</a></li>
					<li><a href="http://www.ccie18473.net/" target="_blank">CCIE18473</a></li>
                    <li><a href="http://ccietea.com/" target="_blank">CCIE网络工程师成长之路</a></li>
                    <li><a href="https://ccie.lol/" target="_blank">CCIE工程师社区</a></li>
					<li><a href="http://www.jdccie.com/" target="_blank">CCIE那点事</a></li>
					<li><a href="http://www.china-ccie.com/" target="_blank">china-ccie</a></li>
					<li><a href="http://www.vlan5.com/" target="_blank">攻城狮论坛</a></li>
					<li><a href="https://bbs.hh010.com/" target="_blank">鸿鹄论坛</a></li>
					<li><a href="https://www.certcommunity.org/forum/" target="_blank">Forums - CertCommunity</a></li>
					<li><a href="https://networklessons.com/" target="_blank">Networklessons</a></li>
				</ul>
			</footer>
		</body>
	</html>